{% extends 'base.html' %}

{% load static %}

{% block head-extension %}
    <link rel="stylesheet" href="{% static 'main_app/event.css' %}" />
{% endblock %}


{% block main-content %}

    <h1 class="mb-3">{{ event.info.name }}</h1>

    <div class="row title-box">
        <div class="col-lg-4 head-title d-flex align-items-center">
            <div class="icon-box"><i class="fa-solid fa-calendar"></i></div>
            <div class="heading">Date</div>
        </div>
        <div class="col-lg-8 info-content-box">
            {{ event.info.date | date:"d.m. Y, H:i" }}
        </div>
    </div>

    <div class="row title-box">
        <div class="col-lg-4 head-title d-flex align-items-center">
            <div class="icon-box"><i class="fa-solid fa-puzzle-piece"></i></div>
            <div class="heading">Type</div>
        </div>
        <div class="col-lg-8 info-content-box">
            {{ event.type }}
        </div>
    </div>

    <div class="row title-box">
        <div class="col-lg-4 head-title d-flex align-items-center">
            <div class="icon-box"><i class="fa-solid fa-scroll"></i></div>
            <div class="heading">Description</div>
        </div>
        <div class="col-lg-8 info-content-box">
            <p>{{ event.info.description }}</p>
        </div>
    </div>

    <div class="row title-box">
        <div class="col-lg-4 head-title d-flex align-items-center">
            <div class="icon-box"><i class="fa-solid fa-trophy"></i></div>
            <div class="heading">Prize</div>
        </div>
        <div class="col-lg-8 info-content-box">
            {{ event.info.prize }}
        </div>
    </div>

    <div class="row title-box">
        <div class="col-lg-4 head-title d-flex align-items-center">
            <div class="icon-box"><i class="fa-solid fa-star-half-stroke"></i></div>
            <div class="heading">Capacity?</div>
        </div>
        <div class="col-lg-8 info-content-box">
            x / y
        </div>
    </div>

    <div class="row title-box">
        <div class="col-lg-4 head-title d-flex align-items-center">
            <div class="icon-box"><i class="fa-solid fa-person-circle-question"></i></div>
            <div class="heading">Min team members</div>
        </div>
        <div class="col-lg-8 info-content-box">
            {{ event.info.minimum_team_size }}
        </div>
    </div>

    <div class="row title-box mb-5">
        <div class="col-lg-4 head-title d-flex align-items-center">
            <div class="icon-box"><i class="fa-solid fa-people-group"></i></div>
            <div class="heading">Max team members</div>
        </div>
        <div class="col-lg-8 info-content-box">
            {{ event.info.maximum_team_size }}
        </div>
    </div>

    {% comment %} TODO if joined or not in the tournament {% endcomment %}
    {% if False %}
        <h3>Joined as:</h3>
        <div id="team-box" class="p-3">
            <form method="POST" action="unjoin/">
                {% csrf_token %}
                <div class="d-flex align-items-center h4" id="team-header">
                    <div id="profile-img-div" class="me-3">
                        <img src="/media/avatars/default.png" class="rounded-circle full-width" id="profile-img" alt=" "/>
                    </div>
                    {% if event.info.minimum_team_size == 1%}Team&nbsp;{% endif %}<span id="team-name">TEAM_NAME</span>

                    {% comment %} Unjoin the player or a team from the tournament {% endcomment %}
                    <button class="ms-auto" id="btn-unjoin">
                        <i class="fa-solid fa-circle-minus" type="submit"></i>
                    </button>
                </div>
            <form>

            {% comment %} TODO load players in team or one individual as a list {% endcomment %}
            {% for member in members %}
                <div class="player-box mb-1">
                    <div class="d-flex align-items-center pe-3">
                        <div id="profile-img-div" class="small-img">
                            <img src="/media/avatars/default.png" class="rounded-circle full-width small-img" id="profile-img" alt=" "/>
                            {% comment %} {{ request.session.user.avatar_url }} {% endcomment %}
                        </div>
                        
                        <div class="row ms-2 w-100">
                            <div class="col-lg-6 overflow-hidden">
                                <div class="name-div fw-bold">
                                    {{ member.first_name }}&nbsp;{{ member.last_name }}
                                </div>
                            </div>
                            <div class="col-lg-6 overflow-hidden">
                                <div class="email-div">
                                    {{ member.email }}
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            {% endfor %}
        </div>

    {% else %}
    <form method="POST" action="join/">
        {% csrf_token %}
        <div class="d-flex align-items-center justify-content-center">
            <div class="me-4">
                <select class="form-select form-select-lg" name="player_team">
                    <optgroup label="Individual">
                        {% comment %} Then select a player from session and create a team for 1 player {% endcomment %}
                        <option selected value="player">Me</option>
                    </optgroup>
                    <optgroup label="Team">
                        {% for team in teams %}
                        <option value="{{ team.id }}">{{ team.name }}</option>
                        {% endfor %}
                    </optgroup>
                </select>
            </div>

            <button class="rounded-circle" id="btn-join" type="submit">
                <i class="fa-solid fa-add rounded-circle"></i>
            </button>
        </form>
    {% endif %}

{% comment %} {{ event.info.id }} {% endcomment %}
{% endblock %}
