{% extends 'base.html' %}

{% load static %}

{% block head-extension %}
    <link rel="stylesheet" href="{% static 'main_app/event.css' %}" />
{% endblock %}


{% block main-content %}

    <h1 class="mb-4">{{ event.name }}</h1>

    <div class="row title-box">
        <div class="col-lg-4 head-title d-flex align-items-center">
            <div class="icon-box"><i class="fa-solid fa-calendar"></i></div>
            <div class="heading">Date</div>
        </div>
        <div class="col-lg-8 info-content-box">
            {{ event.date | date:"d. m. Y, H:i" }}
        </div>
    </div>

    <div class="row title-box">
        <div class="col-lg-4 head-title d-flex align-items-center">
            <div class="icon-box"><i class="fa-solid fa-puzzle-piece"></i></div>
            <div class="heading">Type</div>
        </div>
        <div class="col-lg-8 info-content-box">
            {{ event.type.type }}
        </div>
    </div>

    <div class="row title-box">
        <div class="col-lg-4 head-title d-flex align-items-center">
            <div class="icon-box"><i class="fa-solid fa-scroll"></i></div>
            <div class="heading">Description</div>
        </div>
        <div class="col-lg-8 info-content-box">
            <p>{{ event.description }}</p>
        </div>
    </div>

    <div class="row title-box">
        <div class="col-lg-4 head-title d-flex align-items-center">
            <div class="icon-box"><i class="fa-solid fa-trophy"></i></div>
            <div class="heading">Prize</div>
        </div>
        <div class="col-lg-8 info-content-box">
            {{ event.prize }}
        </div>
    </div>

    <div class="row title-box">
        <div class="col-lg-4 head-title d-flex align-items-center">
            <div class="icon-box"><i class="fa-solid fa-star-half-stroke"></i></div>
            <div class="heading">Capacity</div>
        </div>
        <div class="col-lg-8 info-content-box">
            {{ event.capacity }}
        </div>
    </div>

    <div class="row title-box">
        <div class="col-lg-4 head-title d-flex align-items-center">
            <div class="icon-box"><i class="fa-solid fa-person-circle-question"></i></div>
            <div class="heading">Min team members</div>
        </div>
        <div class="col-lg-8 info-content-box">
            {{ event.minimum_team_size }}
        </div>
    </div>

    <div class="row title-box mb-5">
        <div class="col-lg-4 head-title d-flex align-items-center">
            <div class="icon-box"><i class="fa-solid fa-people-group"></i></div>
            <div class="heading">Max team members</div>
        </div>
        <div class="col-lg-8 info-content-box">
            {{ event.maximum_team_size }}
        </div>
    </div>

    {% comment %} TODO if joined or not in the tournament {% endcomment %}
    {% if team != none %}
        <h3>Joined as</h3>
        <div id="team-box" class="p-3">
            <form method="POST" action="unjoin/">
                {% csrf_token %}
                <div class="d-flex align-items-center h4 team-header mb-1">
                    <div class="profile-img-div me-3">
                        <img src="/media/avatars/default.png" class="rounded-circle full-width profile-img" alt=" "/>
                    </div>
                    {% if event.minimum_team_size == 1%}Team&nbsp;{% endif %}<span class="team-name">{{ team.info.name }}</span>

                    {% comment %} Unjoin the player or a team from the tournament {% endcomment %}
                    <button class="ms-auto me-3" id="btn-unjoin" type="submit">
                        <span class="fa-solid fa-circle-minus"></span>
                    </button>
                </div>
            <form>

            {% comment %} TODO load players in team or one individual as a list {% endcomment %}
            {% for member in team.members %}
                <div class="player-box mt-1">
                    <div class="d-flex align-items-center">
                        <div class="profile-img-div small-img">
                            <img src="/media/avatars/default.png" class="rounded-circle full-width small-img profile-img" alt=" "/>
                            {% comment %} {{ request.session.user.avatar_url }} {% endcomment %}
                        </div>
                        
                        <div class="row ms-3 w-100">
                            <div class="col-lg-6 overflow-hidden">
                                <div class="name-div fw-bold">
                                    {{ member.first_name }}&nbsp;{{ member.last_name }}
                                </div>
                            </div>
                            <div class="col-lg-6 overflow-hidden">
                                <div class="email-div">
                                    {{ member.email }}
                                </div>
                            </div>
                        </div>
                        
                        <div style="width: 25px" class="me-3">
                            {% if member.id == team.info.owner.id %}<i class="fa-solid fa-crown text-warning"></i>{% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        {% if team != none %}
            <h3 class="mt-5">Participants</h3>

            {% for t in teams %}
                <div class="d-flex align-items-center h4 all-teams team-header">
                    <div class="profile-img-div me-3">
                        <img src="/media/avatars/default.png" class="rounded-circle full-width profile-img" alt=" "/>
                    </div>
                    {% if event.minimum_team_size == 1%}Team&nbsp;{% endif %}<span class="team-name">{{ t.name }}</span>
                </div>
            {% endfor %}
        {% endif %}

    {% elif request.session.user %}
    <form method="POST" action="join/">
        {% csrf_token %}
        <div class="d-flex align-items-center justify-content-center">
            <div class="me-4">
                <select class="form-select form-select-lg pe-5" name="player_team">
                    <optgroup label="Individual">
                        {% comment %} Then select a player from session and create a team for 1 player {% endcomment %}
                        <option selected value="player">Me</option>
                    </optgroup>
                    {% if owner_teams %}
                        <optgroup label="Team">
                            {% for t in owner_teams %}
                                <option value="{{ t.id }}">{{ t.name }}</option>
                            {% endfor %}
                        </optgroup>
                    {% endif %}
                </select>
            </div>

            <button class="rounded-circle" id="btn-join" type="submit">
                <i class="fa-solid fa-add rounded-circle"></i>
            </button>
        </form>
    {% endif %}

{% comment %} {{ event.info.id }} {% endcomment %}
{% endblock %}
