{% extends 'base.html' %}

{% load static %}

{% block head-extension %}
    <link rel="stylesheet" href="{% static 'main_app/event.css' %}" />
{% endblock %}


{% block main-content %}

    <h1 class="mb-4 py-2">{{ event.name }}</h1>

    {% if request.session.user.id in moderator_ids %}
        <div class="d-flex mb-3">
            <form method="POST" action="change-state/" class="d-flex align-items-center me-4">
                {% csrf_token %}
                <span class="h3 me-3 mb-0
                    {% if event.state == 0 %}text-danger
                    {% elif event.state == 1 %}text-secondary
                    {% elif event.state == 2 %}text-warning
                    {% elif event.state == 3 %}color-ok
                    {% endif %}">
                    {{ event.get_state_display }}
                </span>
                {% if event.state != 0 %}
                    <select name="state" class="form-select select-state" onchange="this.form.submit();">
                        <option value="1" {% if event.state == 1 %}selected{% endif %}>Confirmed</option>
                        <option value="2" {% if event.state == 2 %}selected{% endif %}>In progress</option>
                        <option value="3" {% if event.state == 3 %}selected{% endif %}>Finished</option>
                    </select>
                {% endif %}
            </form>
            
            <form method="POST" action="generate-schedule/" class="d-flex align-items-center ms-auto me-4" 
                    onsubmit="return confirm('Do you realy want to remove an existing schedule and generate a new one?')">
                {% csrf_token %}
                <button class="btn-circle-right" type="submit">
                    <span class="fa-solid fa-dice btn-generate-schedule"></span>
                </button>
            </form>

            <a href="{% url 'result_event' event.id %}" class="d-flex align-items-center me-4">
                {% csrf_token %}
                <button class="btn-circle-right" type="submit">
                    <span class="fa-solid fa-table text-light"></span>
                </button>
            </a>

            <form method="POST" action="remove-tournament/" class="d-flex align-items-center me-4"
                    onsubmit="return confirm('Do you realy want to remove this tournament?');">
                {% csrf_token %}
                <button class="btn-circle-right" type="submit">
                    <span class="fa-solid fa-trash text-light"></span>
                </button>
            </form>

            <form method="GET" action="{% url 'create_tournament' event.id %}" class="d-flex align-items-center">
                <button class="btn-circle-right ms-auto btn-edit-event" type="submit">
                    <span class="fa-solid fa-gear"></span>
                </button>
            </form>
        </div>
    {% endif %}

    <div class="row title-box">
        <div class="col-lg-4 head-title d-flex align-items-center">
            <div class="icon-box"><i class="fa-solid fa-calendar"></i></div>
            <div class="heading">Date</div>
        </div>
        <div class="col-lg-8 info-content-box">
            {{ event.date | date:"d. m. Y, H:i" }}
        </div>
    </div>

    <div class="row title-box">
        <div class="col-lg-4 head-title d-flex align-items-center">
            <div class="icon-box"><i class="fa-solid fa-puzzle-piece"></i></div>
            <div class="heading">Type</div>
        </div>
        <div class="col-lg-8 info-content-box">
            {{ event.type.type }}
        </div>
    </div>

    <div class="row title-box">
        <div class="col-lg-4 head-title d-flex align-items-center">
            <div class="icon-box"><i class="fa-solid fa-scroll"></i></div>
            <div class="heading">Description</div>
        </div>
        <div class="col-lg-8 info-content-box">
            <p class="m-0">{{ event.description }}</p>
        </div>
    </div>

    <div class="row title-box">
        <div class="col-lg-4 head-title d-flex align-items-center">
            <div class="icon-box"><i class="fa-solid fa-trophy"></i></div>
            <div class="heading">Prize</div>
        </div>
        <div class="col-lg-8 info-content-box">
            {{ event.prize }}
        </div>
    </div>

    <div class="row title-box">
        <div class="col-lg-4 head-title d-flex align-items-center">
            <div class="icon-box"><i class="fa-solid fa-star-half-stroke"></i></div>
            <div class="heading">Free capacity</div>
        </div>
        <div class="col-lg-8 info-content-box">
            {{ event.capacity }}
        </div>
    </div>

    <div class="row title-box">
        <div class="col-lg-4 head-title d-flex align-items-center">
            <div class="icon-box"><i class="fa-solid fa-person-circle-question"></i></div>
            <div class="heading">Min team members</div>
        </div>
        <div class="col-lg-8 info-content-box">
            {{ event.minimum_team_size }}
        </div>
    </div>

    <div class="row title-box mb-5">
        <div class="col-lg-4 head-title d-flex align-items-center">
            <div class="icon-box"><i class="fa-solid fa-people-group"></i></div>
            <div class="heading">Max team members</div>
        </div>
        <div class="col-lg-8 info-content-box">
            {{ event.maximum_team_size }}
        </div>
    </div>

    {% comment %} If joined in the tournament {% endcomment %}
    {% if team %}
        {% if team.info.confirmed == 1 %}
            <h3 class="color-ok"><span class="fa-solid fa-check me-2"></span>Joined as</h3>
        {% else %}
            <h3 class="text-warning"><span class="fa-solid fa-spinner me-2"></span>Pending confirmation</h3>
        {% endif %}

        <div id="team-box" class="p-3">
            <div class="d-flex align-items-center h4 team-header mb-1">
                <div class="profile-img-div me-3">
                    <img src="{{ team.info.avatar }}" class="rounded-circle full-width profile-img" alt=" "/>
                </div>
                {% if event.maximum_team_size > 1%}Team&nbsp;{% endif %}<span class="team-name">{{ team.info.name }}</span>

                {% if team.info.owner.id == request.session.user.id %}
                    <form method="POST" action="unjoin/" class="ms-auto me-3">
                        {% csrf_token %}
                        <input type="hidden" name="team_id" value={{ team.info.id }}>
                        {% comment %} Unjoin the player or a team from the tournament {% endcomment %}
                        <button class="btn-circle-right" type="submit">
                            <span class="fa-solid fa-circle-minus"></span>
                        </button>
                    </form>
                {% endif %}
            </div>

            {% for member in team.members %}
                <div class="player-box mt-1">
                    <div class="d-flex align-items-center">
                        <div class="profile-img-div small-img">
                            <img src="{{ member.avatar }}" class="rounded-circle full-width small-img profile-img" alt=" "/>
                        </div>
                        
                        <div class="row ms-3 w-100">
                            <div class="col-lg-6 overflow-hidden">
                                <div class="name-div fw-bold">
                                    {{ member.first_name }}&nbsp;{{ member.last_name }}
                                </div>
                            </div>
                            <div class="col-lg-6 overflow-hidden">
                                <div class="email-div">
                                    {{ member.email }}
                                </div>
                            </div>
                        </div>
                        
                        <div style="width: 25px" class="me-3">
                            {% if member.id == team.info.owner.id %}<i class="fa-solid fa-crown text-warning"></i>{% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    {% elif request.session.user and request.session.user.id not in moderator_ids and event.state != 0 and event.state != 3 %}
        <div class="container-fluid">
            <div class="row">
                <form method="POST" action="join/" class="col-md-7 d-flex align-items-center pt-2 pe-3">
                    {% csrf_token %}

                    <h3 class="ms-md-auto">Register</h3>
                    <select class="form-select form-select-lg pe-5 select-teams ms-3 me-3" name="player_team">
                        <optgroup label="Individual">
                            {% comment %} Then select a player from session and create a team for 1 player {% endcomment %}
                            <option selected value="player">Me</option>
                        </optgroup>
                        {% if owner_teams %}
                            <optgroup label="Team">
                                {% for t in owner_teams %}
                                    <option value="{{ t.id }}">{{ t.name }}</option>
                                {% endfor %}
                            </optgroup>
                        {% endif %}
                    </select>
                
                    <button id="btn-join" type="submit">
                        <i class="fa-solid fa-circle-check"></i>
                    </button>
                </form>

                <div class="col-md-5 d-flex align-items-center pt-2">
                    <h3 class="mb-0">or&nbsp;<a href="{% url "user_teams" %}" class="create-team-ref ms-2">create a team</a></h3>
                </div>
            </div>
        </div>
    {% endif %}

    {% if unconfirmed_teams %}
        <h3 class="text-warning mt-4"><span class="fa-solid fa-spinner me-2"></span>Pending confirmations</h3>
        {% for t in unconfirmed_teams %}
            <div class="d-flex align-items-center h4 all-teams team-header">
                <div class="profile-img-div me-3">
                    <img src="{{ t.info.avatar }}" class="rounded-circle full-width profile-img" alt=" "/>
                </div>
                {% if event.maximum_team_size > 1%}Team&nbsp;{% endif %}<span class="team-name mx-2">{{ t.info.name }}</span>
                
                <label class="ms-auto">
                    <select class="users-readonly me-3">
                        <option disabled selected>{% if t.members %}{{ t.members.count }}{% else %}0{% endif %}&nbsp;Player(s)</option>
                        {% for member in t.members %}
                            <option disabled>{{ member.first_name }}&nbsp;{{ member.last_name }}&emsp;{{ member.email }}</option>
                        {% endfor %}
                    </select>
                </label>

                <form method="POST" action="decline/" class="me-3">
                    {% csrf_token %}
                    <input type="hidden" name="team_id" value={{ t.info.id }}>
                    <button class="btn-circle-right btn-decline" type="submit">
                        <span class="fa-solid fa-circle-xmark"></span>
                    </button>
                </form>

                <form method="POST" action="confirm/" class="me-3">
                    {% csrf_token %}
                    <input type="hidden" name="team_id" value={{ t.info.id }}>
                    <button class="btn-circle-right color-ok" type="submit">
                        <span class="fa-solid fa-circle-check"></span>
                    </button>
                </form>
            </div>
        {% endfor %}
    {% endif %}

    {% if teams %}
        <h3 class="mt-5">Contestants</h3>
        {% for t in teams %}
            <div class="d-flex align-items-center h4 all-teams team-header">
                <div class="profile-img-div me-3">
                    <img src="{{ t.info.avatar }}" class="rounded-circle full-width profile-img" alt=" "/>
                </div>
                {% if event.maximum_team_size > 1%}Team&nbsp;{% endif %}<span class="team-name">{{ t.info.name }}</span>

                <label class="ms-auto">
                    <select class="users-readonly me-3">
                        <option disabled selected>{% if t.members %}{{ t.members.count }}{% else %}0{% endif %}&nbsp;Player(s)</option>
                        {% for member in t.members %}
                            <option disabled>{{ member.first_name }}&nbsp;{{ member.last_name }}&emsp;{{ member.email }}</option>
                        {% endfor %}
                    </select>
                </label>
            </div>
        {% endfor %}
    {% endif %}

    {% if messages %}
        {% for message in messages %}
            {% if message.tags %}  
                <script>
                    window.onload = function() {
                        alert("{{ message }}");
                    };
                </script>
            {% endif %}
        {% endfor %}
    {% endif %}

{% endblock %}
