{% extends 'base.html' %}

{% load static %}

{% block head-extension %}
    <link rel="stylesheet" href="{% static 'main_app/index.css' %}" />
{% endblock %}

{% block main-content %}
    <div class="container game-icons pb-2">
        <div class="d-flex justify-content-between">
            <span class="chess-fig">
                <i class="fa-solid fa-chess-rook fa-rotate-by rook" style="--fa-rotate-angle: 25deg;"></i>
            </span>
            <span class="chess-fig">
                <i class="fa-solid fa-chess-knight fa-rotate-by knight" style="--fa-rotate-angle: -25deg;"></i>
            </span>
        </div>

        <div class="d-flex justify-content-center" style="position: relative;">
            <i class="board-icon fa-solid fa-chess-board"></i>
            <div class="trophy-box d-flex justify-content-center">
                <span class="trophy-icon fa-solid fa-trophy text-warning"></span>
            </div>
        </div>
    </div>

    <div class="container text-lines mt-5">
        <div class="left-text"> Create a team </div>
        <div class="center-text"> Join a tournament </div>
        <div class="win-text"><span class="win-text-shine">Win great prizes!</span></div>
    </div>

    {% if messages %}
        {% for message in messages %}
            {% if message.tags %}  
                <script>
                    window.onload = function() {
                        alert("{{ message }}");
                    };
                </script>
            {% endif %}
        {% endfor %}
    {% endif %}

{% endblock %}
