{% extends 'base.html' %}

{% load static %}

{% block head-extension %}
    <link rel="stylesheet" href="{% static 'main_app/user_teams.css' %}" />
{% endblock %}


{% block main-content %}

    <form method="GET" action="{% if showing_former %}../{% else %}former-teams/{% endif %}">
        <div class="d-flex align-items-center">
            <button type="submit" id="show-former" class="me-3">
                <span class="fa-solid {% if showing_former %}fa-toggle-on{% else %}fa-toggle-off{% endif %}"></span>
            </button>
            <label for="show-former">View former teams</label>
        </div>
    </form>

    {% if showing_former %}
        <h3 class="mt-4">Teams in <span class="text-warning">ongoing</span> and <span class="color-ok">finished</span> tournaments:</h3>

        {% for team in former_teams %}
            <div class="team-box p-3 mb-2 team-readonly">
                <div class="d-flex align-items-center h4 team-header mb-1">
                    <div class="profile-img-div me-3">
                        <img src="{{ team.info.avatar.url }}" class="rounded-circle full-width profile-img" alt=" "/>
                    </div>

                    <span class="team-name">{{ team.info.name }}</span>
                    
                    {% if team.event %}
                        <i class="ms-auto fa-solid {% if team.info.confirmed == 1 %}fa-check{% else %}fa-spinner text-warning{% endif %} me-2 ps-2 event-icon"></i>

                        <a href="/events/{{ team.event.id }}" class="event-ref wider-size {% if team.info.confirmed != 1 %}bg-warning{% endif %}">
                            <div class="event-ref-text">{{ team.event.name }}</div>
                        </a>
                    {% endif %}
                </div>

                {% for member in team.members %}
                    <div class="player-box mt-1 {% if member.id != request.session.user.id %}opacity-low{% endif %}">
                        <div class="d-flex align-items-center">
                            <div class="profile-img-div small-img">
                                <img src="{{ member.avatar.url }}" class="rounded-circle full-width small-img profile-img" alt=" "/>
                            </div>
                            
                            <div class="row ms-4 w-100">
                                <div class="col-lg-6 overflow-hidden">
                                    <div class="name-div fw-bold {% if member.id == request.session.user.id %}color-ok{% endif %}">
                                        {{ member.first_name }}&nbsp;{{ member.last_name }}
                                    </div>
                                </div>
                                <div class="col-lg-6 overflow-hidden">
                                    <div class="email-div">
                                        {{ member.email }}
                                    </div>
                                </div>  
                            </div>
                            <div style="width: 25px" class="me-2">
                                {% if member.id == team.info.owner.id %}<i class="fa-solid fa-crown text-warning"></i>{% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}

    {% else %}
        <form method="POST" action="create-team/">
            {% csrf_token %}
            <button class="btn-add-team">
                <span class="fa-solid fa-plus"></span>
            </button>
        </form>
    
        {% comment %} Teams where a player is an owner {% endcomment %}
        <h3 class="mt-4">My own teams:</h3>
        {% for team in own_teams %}
            <div class="team-box p-3 mb-2">

                <div class="d-flex align-items-center h4 team-header mb-1">
                    <div class="profile-img-div me-3">
                        <img src="{{ team.info.avatar.url }}" class="rounded-circle full-width profile-img" id="team_image_{{ team.info.id }}" alt=" "/>
                    </div>

                    <form method="POST" action="change-name/" class="w-100" onsubmit="confirm('Do you realy want to change the team name?')">
                        {% csrf_token %}
                        <input class="team-name me-auto" name="team_name" value="{{ team.info.name }}" spellcheck="false" 
                            id="team_name_{{ team.info.id }}" disabled style="opacity: 0.8;">
                        <input name="team_id" value="{{ team.info.id }}" hidden>
                        <input type="submit" hidden>
                    </form>

                    {% if team.event %}
                        <i class="fa-solid {% if team.info.confirmed == 1 %}fa-check{% else %}fa-spinner text-warning{% endif %} me-2 ps-2 event-icon"></i>

                        <a href="/events/{{ team.event.id }}" class="event-ref {% if team.info.confirmed != 1 %}bg-warning{% endif %}">
                            <div class="event-ref-text">{{ team.event.name }}</div>
                        </a>
                        <form method="POST" action="unjoin-event/">
                            {% csrf_token %}
                            <input type="hidden" name="event_id" value="{{ team.event.id }}">
                            <input type="hidden" name="team_id" value="{{ team.info.id }}">
            
                            {% comment %} Unjoin a team from the tournament {% endcomment %}
                            <button class="btn-unjoin ms-2 me-3" type="submit">
                                <span class="fa-solid fa-circle-minus"></span>
                            </button>
                        </form>

                    {% else %}
                        Events:
                        <a href="{% url "events" %}" class="h2 mb-0 mx-3 text-secondary d-flex align-items-center">
                            <span class="fa-solid fa-gamepad"></span>
                        </a>
                    {% endif %}
                </div>

                {% for member in team.members %}
                    <div class="player-box mt-1">
                        <div class="d-flex align-items-center">
                            <div class="profile-img-div small-img">
                                <img src="{{ member.avatar.url }}" class="rounded-circle full-width small-img profile-img" alt=" "/>
                            </div>
                            
                            <div class="row ms-4 w-100">
                                <div class="col-lg-6 overflow-hidden">
                                    <div class="name-div fw-bold {% if member.id == request.session.user.id %}color-ok{% endif %}">
                                        {{ member.first_name }}&nbsp;{{ member.last_name }}
                                    </div>
                                </div>
                                <div class="col-lg-6 overflow-hidden">
                                    <div class="email-div">
                                        {{ member.email }}
                                    </div>
                                </div>
                            </div>
                            <div style="width: 25px" class="me-2">
                                {% if member.id == team.info.owner.id %}<i class="fa-solid fa-crown text-warning"></i>{% endif %}
                            </div>
                            
                            <form method="POST" action="remove-teammate/" class="d-flex align-items-center">
                                {% csrf_token %}
                                <input type="hidden" name="player_id" value="{{ member.id }}"/>
                                <input type="hidden" name="team_id" value="{{ team.info.id }}"/>

                                <button class="btn-default" type="submit">
                                    <span class="fa-solid fa-circle-xmark"></span>
                                </button>
                            </form>
                        </div>
                    </div>
                {% endfor %}
                <div class="d-flex align-items-center mt-3 team-bottom-edit">
                    <form method="POST" action="add-teammate/" class="w-100">
                        <div class="d-flex align-items-center">
                            <span>Add a teammate</span>
                            {% csrf_token %}
                            <input type="hidden" name="team_id" value="{{ team.info.id }}"/>
                            <input name="email" type="email" class="form-control w-25 ms-3" placeholder="player@email.com"/>

                            <button class="btn-default btn-add-teammate ms-3" type="submit">
                                <span class="fa-solid fa-user-plus"></span>
                            </button>
                        </div>
                    </form>
                    
                    <div class="d-flex align-items-center">
                        <button class="btn-default btn-bottom me-3" onclick="enable_name_edit('team_name_{{ team.info.id }}');">
                            <span class="fa-solid fa-pen"></span>
                        </button>
                        <script>
                            function enable_name_edit(id){
                                el = document.getElementById(id); 
                                el.disabled = !el.disabled;
                                el.style.opacity = el.disabled? 0.8: 1;
                            }
                        </script>

                        <form method="POST" action="upload-team-img/" class="d-flex align-items-center me-3" enctype="multipart/form-data" id="form-img">
                            {% csrf_token %}
                            <input type="hidden" name="team_id" value="{{ team.info.id }}">
                            <label for="upload-file" class="h5 fa fa-image-portrait btn-default btn-bottom"></label>
                            <input id="upload-file" class="form-control" type="file" name="avatar" style="display: none;" 
                                accept="image/png, image/jpeg" onchange="load_img(event, 'team_image_{{ team.info.id }}', 'form-img')">

                                <script>
                                    /**
                                    * Load the uploaded image directly to a profile view
                                    * @param event Event
                                    * @param img_id Image id
                                    */
                                    function load_img(event, img_id, form_id){
                                        var image = document.getElementById(img_id);
                                        image.src = URL.createObjectURL(event.target.files[0]);
                                        document.getElementById(form_id).submit();
                                    };
                                </script>
                        </form>

                        <form method="POST" action="delete-team/" class="d-flex align-items-center">
                            {% csrf_token %}
                            <input type="hidden" name="team_id" value="{{ team.info.id }}"/>
                            <button class="btn-default btn-bottom" type="submit">
                                <span class="fa-solid fa-trash-can"></span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}


        {% comment %} Teams a player is in {% endcomment %}
        <h3 class="mt-5">Fellow teams:</h3>
        {% for team in fellow_teams %}
            <div class="team-box p-3 mb-2">
                <div class="d-flex align-items-center h4 team-header mb-1">
                    <div class="profile-img-div me-3">
                        <img src="{{ team.info.avatar.url }}" class="rounded-circle full-width profile-img" alt=" "/>
                    </div>

                    <span class="team-name">{{ team.info.name }}</span>
                    
                    {% if team.event %}
                        <i class="ms-auto fa-solid {% if team.info.confirmed == 1 %}fa-check{% else %}fa-spinner text-warning{% endif %} me-2 ps-2 event-icon"></i>

                        <a href="/events/{{ team.event.id }}" class="event-ref wider-size {% if team.info.confirmed != 1 %}bg-warning{% endif %}">
                            <div class="event-ref-text">{{ team.event.name }}</div>
                        </a>
                    {% endif %}
                </div>

                {% for member in team.members %}
                    <div class="player-box mt-1 {% if member.id != request.session.user.id %}opacity-low{% endif %}">
                        <div class="d-flex align-items-center">
                            <div class="profile-img-div small-img">
                                <img src="{{ member.avatar.url }}" class="rounded-circle full-width small-img profile-img" alt=" "/>
                            </div>
                            
                            <div class="row ms-4 w-100">
                                <div class="col-lg-6 overflow-hidden">
                                    <div class="name-div fw-bold {% if member.id == request.session.user.id %}color-ok{% endif %}">
                                        {{ member.first_name }}&nbsp;{{ member.last_name }}
                                    </div>
                                </div>
                                <div class="col-lg-6 overflow-hidden">
                                    <div class="email-div">
                                        {{ member.email }}
                                    </div>
                                </div>  
                            </div>
                            <div style="width: 25px" class="me-2">
                                {% if member.id == team.info.owner.id %}<i class="fa-solid fa-crown text-warning"></i>{% endif %}
                            </div>
                            
                            {% if member.id == request.session.user.id %}
                                <form method="POST" action="remove-teammate/" class="d-flex align-items-center">
                                    {% csrf_token %}
                                    <input type="hidden" name="player_id" value="{{ member.id }}"/>
                                    <input type="hidden" name="team_id" value="{{ team.info.id }}"/>

                                    <button class="btn-default" type="submit">
                                        <span class="fa-solid fa-circle-xmark"></span>
                                    </button>
                                <form>
                            {% else %}
                                <div class="btn-default bg-transparent"></div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}


        {% comment %} Alerts after a page is loaded {% endcomment %}
        {% if messages %}
            {% for message in messages %}
                {% if message.tags %}  
                    <script>
                        window.onload = function() {
                            alert("{{ message }}");
                        };
                    </script>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endif %}

{% endblock %}
