{% extends 'base.html' %}

{% load static %}
    
{% block head-extension %}
    <link rel="stylesheet" href="{% static 'main_app/user_profile.css' %}" />

    <script src="{% static 'main_app/user_profile.js' %}"></script>
{% endblock %}

{% block main-content %}

<div class="row p-0" id="profile-box">

    {% comment %} Profile avatar {% endcomment %}
    <div id="left-panel" class="col-3">
        <form action="/upload-profile-img/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% comment %} Image {% endcomment %}
            <div id="profile-img-div" class="mb-3">
                <img src="{{ request.session.user.avatar_url }}" class="rounded-circle full-width" id="profile-img" alt=" "/>
            </div>
            
            {% comment %} Image loading {% endcomment %}
            <div id="upload-form">
                <label for="upload-file" class="h5 fa fa-file-import profile-btn rounded-circle ms-1 me-1"></label>
                <input class="form-control" type="file" name="avatar" id="upload-file" style="display: none;" accept="image/png, image/jpeg" 
                    onchange="load_img(event, 'profile-img')">

                <button type="submit" class="profile-btn rounded-circle ms-1 me-1 fa fa-check" id="image-save-btn"></button>
            </div>
        </form>
    </div>
    
    {% comment %} Information content {% endcomment %}
    <div id="profile-content" class="col-9 d-flex flex-column">
        {% comment %} Form to edit values {% endcomment %}
        <form id="profile-form" action="" method="post">
            {% csrf_token %}
            {% comment %} Field that can be disabled when in readonly mode {% endcomment %}
            <fieldset disabled id="profile-field">

                <div class="form-group row mb-2 d-flex align-items-center">
                    <label for="fname" class="col-sm-3 col-form-label text-start">First name:</label>
                    <div class="col-sm-9">
                      <input type="text" id="fname" name="first_name" value="{{ request.session.user.first_name }}">
                    </div>
                </div>
                <div class="form-group row mb-2 d-flex align-items-center">
                    <label for="lname" class="col-sm-3 col-form-label text-start">Last name:</label>
                    <div class="col-sm-9">
                      <input type="text" id="lname" name="last_name" value="{{ request.session.user.last_name }}">
                    </div>
                </div>
                <div class="form-group row mb-2 d-flex align-items-center">
                    <label for="email" class="col-sm-3 col-form-label text-start">Email:</label>
                    <div class="col-sm-9">
                      <input type="email" name="email" id="email" value="{{ request.session.user.email }}">
                    </div>
                </div>
                <div class="form-group row mb-2 d-flex align-items-center">
                    <label for="birthday" class="col-sm-3 col-form-label text-start">Date of birth:</label>
                    <div class="col-sm-9">
                      <input type="date" name="birthdate" id="birthdate" value="{{ request.session.user.birth_date }}">
                    </div>
                </div>

                {% comment %} Two password columns {% endcomment %}
                <div class="form-group row mb-2">
                    <div class="col-lg-6 d-flex mb-2">
                        <label for="password" class="col-4 col-form-label text-start">Password:</label>
                        <div class="col-8">
                            <div class="d-flex align-items-center">
                                <input type="password" name="old_password" id="old_password" value="" style="">
                                
                                <label for="show1" class="fa fa-eye text-muted ps-3"></label>
                                <input class="form-check-input" id="show1" type="checkbox" onclick="show_password('old_password')" style="display: none;"/>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 d-flex mb-2">
                        <label for="new_password" class="col-4 col-form-label text-start">New:</label>
                        <div class="col-8">
                            <div class="d-flex align-items-center">
                                <input type="password" name="new_password" id="new_password" style="">
                                
                                <label for="show2" class="fa fa-eye text-muted ps-3"></label>
                                <input class="form-check-input" id="show2" type="checkbox" onclick="show_password('new_password')" style="display: none;"/>
                            </div>
                        </div>
                    </div>
                </div>

            </fieldset> 
        </form>

        {% comment %} Edit/Save and Cancel button {% endcomment %}
        <div class="mt-auto mx-auto">
            <button id="cancel-btn" class="profile-btn rounded-circle fa fa-xmark" onclick="toggle_edit('edit-btn', 'profile-field', 'profile-form', 'cancel-btn', '');" hidden></button>
            <button id="edit-btn" class="profile-btn rounded-circle fa fa-pen-to-square" onclick="toggle_edit('edit-btn', 'profile-field', 'profile-form', 'cancel-btn', 'SEND');"></button>
        </div>
    </div>
</div>

{% endblock %}