{% extends 'admin_app/base.html' %}

{% load static %}

{% block head-extension %}
    <link rel="stylesheet" href="{% static 'admin_app/index.css' %}" />
{% endblock %}

{% block main-content %}
<div class="container">
    <h1>Statistics</h1>
</div>

<div class="container">
    <div class="card-group">
        <div class="card bg-dark">
            <div class="card-header font-weight-bold">
                Tournaments
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        <p class="card-text font-weight-normal">
                            Unconfirmed<br/>
                            Confirmed<br/>
                            Ongoing<br/>
                            Finished<br/>
                        </p>
                    </div>
                    <div class="col-sm-5">
                        <p class="card-text">
                            <span class={% if tournaments_count.0 > 0 %}"text-warning"{% else %}"text-success"{% endif %}>{{ tournaments_count.0 }}</span><br/>
                            <span class="text-success">{{ tournaments_count.1 }}</span><br/>
                            <span class="text-success">{{ tournaments_count.2 }}</span><br/>
                            <span class="text-success">{{ tournaments_count.3 }}</span><br/>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card bg-dark">
            <div class="card-header font-weight-bold">
                Users
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-5">
                        <p class="card-text font-weight-normal">
                            Registered<br/>
                        </p>
                    </div>
                    <div class="col-md-5">
                        <p class="card-text">
                            <span class="text-success">{{ user_count }}</span><br/>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card bg-dark">
            <div class="card-header font-weight-bold">
                Tournament types
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-5">
                        <p class="card-text font-weight-normal">
                            Count<br/>
                        </p>
                    </div>
                    <div class="col-md-5">
                        <p class="card-text">
                            <span class="text-success">{{ tournament_types }}</span><br/>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
