{% extends 'admin_app/base.html' %}

{% load static %}
    
{% block head-extension %}
    <link rel="stylesheet" href="{% static 'admin_app/login_admin.css' %}" />

    {% block login-head-extension %}
    {% endblock %}
    
{% endblock %}

{% block main-content %}
    
    <div id="form-box">
        {% block form-box-block %}
        
        {% comment %} User icon {% endcomment %}
        <div class="fa fa-user mb-4" id="user-icon">
        </div>
        
        <form action="/admin/login/" method="post">
            {% csrf_token %}
            <div class="form-outline mb-5">
                <input type="email" class="form-control" name="email" placeholder="Email"/>
            </div>
            
            <div class="form-outline mb-5">
                <input type="password" class="form-control" name="password" placeholder="Password"/>
            </div>
            <button type="submit" class="btn btn-primary mb-4" id="btn-login">Log in</button>
        </form>

        {% endblock %}

    </div>

{% endblock %}
