{% extends 'admin_app/base.html' %}

{% load static %}
{% load admin_tags %}

{% block head-extension %}
    <link rel="stylesheet" href="{% static 'admin_app/index.css' %}" />
{% endblock %}

{% block main-content %}
<div class="container pb-5">
    <h1>Tournaments</h1>
</div>

{% if unconfirmed_tournaments %}
<div class="container pb-5">
    <h2>Unconfirmed</h2>
    <div class="table-responsive">
        <table class="table-sm table-dark table-bordered">
            <thead>
                <tr>
                    <th>Confirm</th>
                    {% for h in header %}
                    <th>{{ h }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for tournament in unconfirmed_tournaments.values %}
                <tr>
                <td class="text-center">
                    <form action="" method="post" class="form"> 
                        {% csrf_token %}
                        <input type="text" name="id" value="{{ tournament.id }}" hidden>
                        <button type="submit" class="btn btn-lg btn-labeled btn-success">
                            <i class="fa fa-check"></i>
                        </button>
                    </form>
                </td>
                {% for field in tournament.items %}
                    {% if field.0 == 'type_id' %}
                        <td onclick='window.location="/admin/tournaments/{{ tournament.id }}"' style="cursor:pointer">{{ unconfirmed_tournaments|tournament_type_at_index:forloop.parentloop.counter0 }}</td>
                    {% elif field.0 == 'state' %}
                        <td onclick='window.location="/admin/tournaments/{{ tournament.id }}"' style="cursor:pointer">{{ unconfirmed_tournaments|tournament_state_at_index:forloop.parentloop.counter0 }}</td>
                    {% else %}
                        <td onclick='window.location="/admin/tournaments/{{ tournament.id }}"' style="cursor:pointer">{{ field.1 }}</td>
                    {% endif %}
                {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}

<div class="container">
    {% if unconfirmed_tournaments %} <h2>All</h2> {% endif %}
    <div class="table-responsive">
        <table class="table-sm table-dark table-bordered">
            <thead>
                <tr>
                    {% for h in header %}
                        <th>{{ h }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for tournament in all_tournaments.values %}
                <tr onclick='window.location="/admin/tournaments/{{ tournament.id }}"' style="cursor:pointer">
                {% for field in tournament.items %}
                    {% if field.0 == 'type_id' %}
                        <td> {{ all_tournaments|tournament_type_at_index:forloop.parentloop.counter0 }} </td>
                    {% elif field.0 == 'state' %}
                        <td> {{ all_tournaments|tournament_state_at_index:forloop.parentloop.counter0 }} </td>
                    {% else %}
                        <td> {{ field.1 }} </td>
                    {% endif %}
                {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
