{% extends 'admin_app/base.html' %}

{% load static %}
{#% load admin_tags %#}

{% block head-extension %}
    <link rel="stylesheet" href="{% static 'admin_app/index.css' %}" />
{% endblock %}

{% block main-content %}
<div class="container pb-5">
    <h1>User info edit</h1>
</div>

<div class="container pb-5">
    <form action="" method="post" id="user_form">
        {% csrf_token %}
        <div class="row pb-3">
            <div class="col-md-1">
                <label for="id">Id</label>
                <input type="text" name="id" class="form-control" readonly value="{{ user.id }}">
            </div>
            <div class="col-md-2">
                <label for="state">Join date</label>
                <input type="text" name="state" class="form-control" readonly value="{{ user.join_date|date:"Y-m-d" }}">
            </div>
        </div>

        <div class="row pb-3">
            <div class="col-md-3">
                <label for="first_name">First name</label>
                <input type="text" name="first_name" class="form-control" value="{{ user.first_name }}">
            </div>
            <div class="col-md-3">
                <label for="last_name">Last name</label>
                <input type="text" name="last_name" class="form-control" value="{{ user.last_name }}">
            </div>
            <div class="col-md-3">
                <label for="email">Email</label>
                <input type="text" name="email" class="form-control" value="{{ user.email }}">
            </div>
            <div class="col-md-3">
                <label for="password">Password</label>
                <input type="password" name="password" class="form-control" value="">
            </div>
        </div>

        <div class="row pb-3">
            <div class="col-md-2">
                <label for="birth_date">Birth date</label>
                <input type="date" name="birth_date" class="form-control" value="{{ user.birth_date|date:"Y-m-d" }}">
            </div>
            <div class="col-md-2">
                <label for="avatar">Avatar path</label>
                <input type="text" name="avatar" class="form-control" value="{{ user.avatar }}">
            </div>
        </div>

        <div class="row pb-3">
            <div class="col w-100">
                <label for="description">Description</label>
                <textarea class="form-control" name="description" rows="3">{{ user.description }}</textarea>
            </div>
        </div>

        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalUpdate">
            Update
        </button>
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalDelete">
            Delete
        </button>
    </form>
</div>

<div class="modal fade" id="modalUpdate" tabindex="-1" aria-labelledby="modalUpdateLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="modalUpdateLabel">Update user data</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        <div class="modal-body bg-dark text-white">
            Are you sure?
        </div>
            <div class="modal-footer bg-dark text-white">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" name="update" form="user_form" class="btn btn-primary">Update</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="modalDeleteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="modalDeleteLabel">Delete user</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        <div class="modal-body bg-dark text-white">
            Are you sure?
        </div>
            <div class="modal-footer bg-dark text-white">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" name="delete" form="user_form" class="btn btn-primary">Delete</button>
            </div>
        </div>
    </div>
</div>

<div class="container pb-5">
    <div class="accordion" id="moderatorAccordion">
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading_1">
                <button class="accordion-button collapsed bg-dark text-white " type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse_1" aria-expanded="false" aria-controls="collapse_1">
                Teams
                </button>
            </h2>
            <div id="collapse_1" class="accordion-collapse collapse" aria-labelledby="heading_1" data-bs-parent="#moderatorAccordion">
                <div class="accordion-body bg-dark">
                    {% if user_teams %}
                    <p>
                        {% for user_team in user_teams %}
                        {{ user_team.team.name }}
                        {% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                    {% else %}
                    <h2>No teams</h2>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
