{% load static %}
<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="{% static 'main_app/base.css' %}" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

    <script src="{% static 'main_app/base.js' %}"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"></script>

    {% block head-extension %}
    {% endblock %}
</head>

<body onresize="hide_navigation()">  
    {% comment %} Navigation panel {% endcomment %}
    {% comment %} Change hide_navigation() navbar_expand_xl value if replaced by another {% endcomment %}
    <nav class="navbar navbar-expand-xl">
        {% comment %} Logo {% endcomment %}
        <div id="navbar-brand-div">
            <a class="navbar-brand" href="/">
                <div>
                    Tournament
                </div>
                <div id="div-brand-manager">
                    Manager
                </div>
            </a>
        </div>
        
        {% comment %} Panel parts {% endcomment %}
        <div class="container-fluid" id="panel">
            {% comment %} Center navigation buttons {% endcomment %}
            <div class="collapse navbar-collapse" id="navigation">
                <div class="navbar-nav mx-auto">
                    <a class="nav-link active" href="/"><span class="fa fa-home"></span>Home</a>
                    <a class="nav-link" href="#"><span class="fa fa-gamepad"></span>Events</a>
                    <a class="nav-link" href="#"><span class="fa fa-trophy"></span>Leaderboard</a>
                    <a class="nav-link" href="#"><span class="fa fa-chess"></span>Games</a>
                </div>
                <div id="navbar-right-gap">
                </div>
            </div>

            {% comment %} Top right buttons {% endcomment %}
            <div id="nav-right">
                <button class="navbar-toggler btn fa fa-bars" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="#navigation" aria-expanded="false" aria-label="Toggle navigation"/>

                <button class="btn fa fa-user" type="button" onclick="menu_toggle()" data-bs-toggle="collapse" data-bs-target="#navbar" aria-expanded="false" aria-controls="navbar"/>
            </div>
        </div>
    </nav>

    {% comment %} Body content container {% endcomment %}
    <div id="main-container" class="toggled">
        <div class="container-fluid">
            {% comment %} Right sidebar menu {% endcomment %}
            <div id="sidebar-menu">
                <div id="sidebar-user">
                    {{ user }}_TODO
                </div>
                <ul class="sidebar-nav">
                    {% if user != None %}
                        <li><a href="/user-profile/"><span class="fa fa-address-card"></span>Profile</a></li>
                        <li><a href="#"><span class="fa fa-gear"></span>Settings</a></li>
                    {% endif %}
                    <li class="log-in-out">
                        {% comment %} TODO check that a user is logged in {% endcomment %}
                        <a href="{% if user == None %}/login-user/{% else %}/logout-user/{% endif %}">
                            <span class="fa fa-right-to-bracket"></span>
                            {% if user == None %}
                                Log in
                            {% else %}
                                Log out
                            {% endif %}
                        </a>
                    </li>                
                </ul>
                <div id="sidebar-menu-rest">
                </div>
            </div>
            
            {% comment %} Page content {% endcomment %}
            <div id="page-content">
                {% block page-content %}

                    {% comment %} Centered body container {% endcomment %}
                    <div id="main-content" class="container">
                        {% block main-content %}

                        {% endblock %}
                    </div>

                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>
