{% extends 'base.html' %}

{% load static %}
    
{% block head-extension %}
    <link rel="stylesheet" href="{% static 'css/index_style.css' %}" />
{% endblock %}

{% block main-title-content-block %}
    Welcome to Knockout Tournament Manager!
{% endblock %}

{% block article-block %}
    <div id="main-content">
        
        <button class="btn" onclick="location.href='add-user/'" type="button">Add user</button>
        <button class="btn" onclick="location.href='delete-user/'" type="button">Delete user</button>
        <br><br>
        
        <h2 id="welcome">TODO Welcome all the users:</h2> 
        <div id="user-list">
            {% for x in users %}
            <li style="background-color:{% cycle '#292929' '#393939' %}">
                {{ x.name }}
            </li>
            {% endfor %}
        </div>

        <h2>Recent News</h2>

        {% if user != None %}
            <div class="col">
                <a href="/" class="idk" style='color:yellow;'>Enter</a>
            </div>
        {% endif %}

    </div>
{% endblock %}

