@import url("https://fonts.googleapis.com/css2?family=Comfortaa");
@import url("https://fonts.googleapis.com/css2?family=Bungee");
@import url("https://fonts.googleapis.com/css2?family=Lalezar");

/* ----- Variables ----- */
:root{
    --color-bg: #191919;
    --color1: #ff5555; /*or B02bdd*/
    --color2: #54E0D0;
    --font1: "Bungee";
    --font2: "Lalezar";
}

/* ----- General ----- */
*{
    margin: 0;
    padding: 0;
    font-family: var(--font2); /*or Bungee*/
    color: white;
}

body{
    background-color: var(--color-bg);
}

/* ----- Menu bar ----- */
#navig-panel{
    display: flex;
    height: 80px;
    line-height: 80px;
    background-color: var(--color-bg);
}
/* Left menu logo */
#logo-title{
    width: 320px;
    background: linear-gradient(3deg, 
        var(--color2) 0%, var(--color2) 10%, 
        var(--color-bg) 11%, var(--color-bg) 89%, 
        var(--color1) 90%, var(--color1) 100%);
}

#logo-title > a{
    color: var(--color1);
    padding: 0 20px;
}

#logo-title > a > span{
    color: var(--color2);
    font-size: 22px; 
    font-family: var(--font1);
}

/* Center menu buttons */
#navig-bar{
    height: 100%;
    margin: 0 auto;
}

#navig-bar > ul{
    margin: auto 0;
    list-style-type: none;
}

#navig-bar > ul > li{
    float: left;
    background: linear-gradient(to top, var(--color-bg) 50%, var(--color2) 50%) bottom;
    background-size: 100% 200%;
}

#navig-bar > ul > li:hover {
    background-color: var(--color2);
    transition: all 0.3s ease;
    background-position: top;

}
#navig-bar > ul > li > a{
    width: 130px;
    text-align: center; 
    color: var(--color2);
}

#navig-bar > ul > li > a:hover {
    color: var(--color-bg);
    transition: all 0.3s ease;
}

.menu-href{
    font-size: 22px;
    font-family: var(--font1);
    text-decoration: none;
    display: block;
}

/* Conditional profile button if a user is logged in */
#btn-profile{
    width: 140px;
    margin-left: 35px;
    text-align: center;

    background: linear-gradient(to top, var(--color-bg) 50%, white 50%) bottom;
    background-size: 100% 200%;
}

#btn-profile:hover{
    background-position: top;
    transition: all 0.3s ease;
}

#btn-profile > a{
    color: white;
}

#btn-profile > a:hover {
    color: var(--color-bg);
    transition: all 0.3s ease;
}

/* Right menu log in(out) button */
.login{
    width: 125px;
    margin-left: 195px;
}

.logout{
    width: 145px;
}

#btn-login-out{
    text-align: right;
    background: linear-gradient(to top, var(--color-bg) 50%, var(--color1) 50%) bottom;
    background-size: 100% 200%;
}

#btn-login-out:hover{
    background-position: top;
    transition: all 0.3s ease;
}

#btn-login-out > a:hover{
    color: var(--color-bg);
}

#btn-login-out > a{
    padding-right: 20px;
    color: var(--color1);
}

/* ----- Main title ----- */
.main-title-div{
    display: table;
    width: 900px;
    height: 50px;
    margin: 60px auto 10px auto;

    background-color: white;
    -webkit-mask-image: url("/static/images/title_brush.svg");
    mask-image: url("/static/images/title_brush.svg");

    -webkit-mask-size: cover;
    mask-size: cover;
}

.main-title{
    line-height: 50px;
    font-size: 24px;
    text-align: center;
    color: var(--color-bg);
    font-family: var(--font1);
    font-weight: normal;
}

/* ----- Container section ----- */
#container{
    display: flex;
}
#left-panel{
    width: 320px;
    height: 100vh;
}

#article-section{
    width: 1200px;
    margin: 0 auto;
}

#right-panel{
    width: 320px;
    height: 100vh;
}

.banner{
    width: 150px;
    height: 675px;
    margin: 50px auto 0 auto;

    -webkit-mask-image: url("/static/images/side_panel.svg");
    mask-image: url("/static/images/side_panel.svg");
    opacity: 40%;

    -webkit-mask-size: cover;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    
    mask-size: cover;
    mask-repeat: no-repeat;
    mask-position: center;
}

#left-banner{
    background-color: var(--color2);
}

#right-banner{
    background-color: var(--color1);
}