{% extends 'admin_app/base.html' %}

{% load static %}
    
{% block head-extension %}
    <link rel="stylesheet" href="{% static 'admin_app/login_admin.css' %}" />

    {% block login-head-extension %}
    {% endblock %}
    
{% endblock %}

{% block main-content %}
    {% if error %}
    <div class="alert alert-danger d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
        <div>
            Error: {{ error }}
        </div>
    </div>
    {% endif %}

    <div id="form-box">
        {% block form-box-block %}
        
        {% comment %} User icon {% endcomment %}
        <div class="fa fa-user mb-4" id="user-icon">
        </div>
        
        <form action="/admin/login/" method="post">
            {% csrf_token %}
            <div class="form-outline mb-5">
                <input type="email" class="form-control" name="email" placeholder="Email"/>
            </div>
            
            <div class="form-outline mb-5">
                <input type="password" class="form-control" name="password" placeholder="Password"/>
            </div>
            <button type="submit" class="btn btn-primary mb-4" id="btn-login">Log in</button>
        </form>

        {% endblock %}

    </div>

{% endblock %}
