.title-box{
    margin: 7px 0;
}

.head-title{
    height: 50px;
}

.icon-box{
    background: var(--color1);
    color: var(--color-bg);
    width: 50px;
    height: 50px;
    padding: 2px;
    font-size: 33px;
    border-radius: 25px;
    text-align: center;
    margin-right: 5px;
}

.heading{
    background: var(--color1);
    color: var(--color-bg);
    width: 270px;
    padding: 0 15px;
    border-radius: 25px;
    font-weight: bold;
    font-size: 24px;
    height: 100%;
    line-height: 50px;
}

h1{
    font-family: var(--font1) !important;
    font-size: 32px !important;
}

.info-content-box{
    padding: 0 15px;
    line-height: 50px;
}

.info-content-box p{
    /* display: inline-block; */
    vertical-align: middle;
    line-height: 30px;
    padding: 7px 0 0 0;
}

.select-teams{
    max-width: 250px;
    opacity: 0.93;
}

.select-state{
    opacity: 0.85;
    border: none;
    outline: none !important;
}

#btn-join{
    background: transparent;
    color: var(--color2);
    width: 50px;
    height: 50px;
    font-size: 50px;
    border-radius: 25px;
    border: none;
    line-height: 50px;
    padding: 0;
}

#btn-join:hover{
    opacity: 0.8;
    transition: all 0.2s ease;
}

.btn-circle-right{
    height: 40px;
    line-height: 40px;
    /* width: 40px; */
    font-size: 40px;
    background: var(--color-bg);
    color: var(--color2);
    border: none;
    border-radius: 25px;
    padding: 0;
}

.btn-circle-right:hover{
    opacity: 0.8;
    transition: all 0.2s ease;
}

#team-box{
    background: var(--color-box);
    border-radius: 5px;
}

.team-name{
    color: var(--color2);
    font-weight: bold;
    overflow-x: scroll;
    white-space: nowrap;
}

.team-name{
    overflow-x: scroll;
    -ms-overflow-style: none;  /* Hide scrollbar on IE, Edge */
    scrollbar-width: none;      /* Hide scrollbar on Firefox */
}

/* Hide scrollbar on Chrome, Safari and Opera */
.team-name::-webkit-scrollbar{
    display: none;
}

.users-readonly{
    width: 145px;
    border-radius: 5px;
    background: var(--color-bg);
    color: var(--color-light);
    border: none;
    outline: none;
}

.team-header{
    height: 70px;
    background: var(--color-bg);
    border-radius: 35px;
}

.team-header.all-teams{
    background: var(--color-box) !important;
    opacity: 0.9;
}

/* Team avatar picture frame */
.profile-img-div{
    width: 70px;
    height: 70px;
    background: var(--color-bg);
    border-radius: 35px;
    position: relative;
}

.small-img{
    width: 50px !important;
    height: 50px !important;
}

/* Team avatar picture */
.profile-img{
    width: 70px;
    height: 70px;
}

.profile-img::before {  
    font-family: "Font Awesome 6 free";     
    content: "\f2bd";
    font-size: 35px;
    line-height: 100%;
    font-weight: bold;
    color: var(--color-box);

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-bg); 
}

.profile-img.small-img::before{
    width: 50px !important;
    height: 50px !important;
}

.player-box{
    margin: 0 10px;
    background: var(--color-box-header);
    border-radius: 25px;
    min-height: 50px;
    overflow: hidden;
}

.email-div, .name-div{
    overflow-x: scroll;
    -ms-overflow-style: none;  /* Hide scrollbar on IE, Edge */
    scrollbar-width: none;  /* Hide scrollbar on Firefox */
}

/* Hide scrollbar on Chrome, Safari and Opera */
.email-div::-webkit-scrollbar,
.name-div::-webkit-scrollbar{
    display: none;
}

.create-team-ref{
    text-decoration: none;
    color: var(--color-bg);
    background: var(--color1);
    padding: 2px 10px;
    border-radius: 50px; 
}

.create-team-ref:hover{
    color: var(--color-bg);
    opacity: 0.8;
    transition: all 0.2s ease;
}

.color-ok{
    color: var(--color-ok);
}

.btn-decline{
    color: var(--color2);
}

.btn-generate-schedule{
    color: var(--color1);
}

.btn-edit-event{
    color: var(--color2);
}
