.game-icons{
    position: relative;
}

.trophy-box{
    position: absolute; 
    top: -155px;
}

.trophy-icon{
    filter: drop-shadow(0 0 40px rgb(210, 180, 0)); 
    font-size: 240px;
}

.board-icon{
    font-size: 170px; 
    color: var(--color2); 
    transform: scale(4, 1) 
    skew(-20deg);
}

.chess-fig{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
    font-size: 165px; 
    color: var(--color1);
    z-index: 100;
}

@keyframes shake {
    0% { transform: rotate(-1deg); }
    50% { transform: rotate(1deg); }
    100% { transform: rotate(-1deg); }
}
  
.win-text {
    text-align: right;
}

.win-text-shine{
    animation: shine 1.8s infinite linear;
    background: linear-gradient(to right, rgb(210, 180, 0) 0, white 20%, rgb(210, 180, 0) 40%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: rgb(210, 180, 0); 
}

@keyframes shine {
    0% {
      background-position: 0px;
    }
    100% {
      background-position: 525px;
    }
}

.text-lines{
    text-align: center;
    font-size: 50px;
    white-space: nowrap;
    font-family: var(--font1); 
}

.left-text{
    color: var(--color1); 
    text-align: left;
}

.center-text{
    color: var(--color2);
}
